useDynLib(GOtest, .registration = TRUE)
import(msigdb)
export(
	msigdb.gsea,
	merck.gsea,
	GOtest,
	GSEA,
	fGSEA,
	plotOverlap,
	shorten.MSigDB.terms,
	plotGseaEnrTable,
	curated.genesets,
	crosstalk
)
S3method(print, gsea)
S3method(plot, gsea)
import(parallel)
importFrom("grDevices", "heat.colors", "rgb")
importFrom("Matrix", "sparseMatrix", "crossprod","colSums")
importFrom("graphics", "axis", "barplot", "lines", "par", "plot",
	"polygon", "rect", "text")
importFrom("stats", "dist", "hclust", "p.adjust", "phyper","binomial","coef","glm","setNames")
